@import 'theme/colors';

#root {

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: $white; 
	}
	
	::-webkit-scrollbar-thumb {
		background: $dark;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		opacity: 1;
	}

	.ant-layout{
		height: 100vh;
		width: 100vw;
	}

	.page-header {
		border: 1px solid rgb(235, 237, 240);
	}

	.app-layout-content {
		height: 100%;
		padding: 24px;
		margin: 24px;
		overflow-y: scroll;

		&.bg-light {
			background-color: $white;
		}
	}

	.app-footer{
		background-color: $white;
	}
}